.builder {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFF;

  table {
    width: 100%;
    table-layout: fixed;
  }
  td {
    vertical-align: top;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
  }

  .tab-pane {
    padding: 20px 20px 0;
  }
  .preview-label {
    // duplicate nav-tabs sizing
    padding: 11px 5px 10px;
    border-bottom: 1px solid #DDD;
  }
  .preview {
    padding: 25px 35px;
  }
}
