/*
Bootstrap overrides
 */
$icon-font-path: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/";

$navbar-inverse-bg: #5C5C5C;
$navbar-inverse-link-color: #FFF;
$navbar-border-radius: 0;

@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
